{:paths ["src"]
 :deps {io.github.kotoba-lang/prolly-tree {:git/sha "8da6d1e17fe8efe9294055f5ec242c439329de89"}
        io.github.kotoba-lang/ipld {:git/sha "fe67f8e4233792e606da75fceace89a1e6e2ae01"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
