{:paths ["src"]
 :deps {io.github.kotoba-lang/prolly-tree {:git/sha "b23cda19c72fcf1b55487b82083200429fa91c1a"}
        io.github.kotoba-lang/multiformats {:git/sha "11736e9772091699e285284eac3cd80066dded9a"}
        io.github.kotoba-lang/dag-cbor {:git/sha "720e868396a565066f9938f39d3150cde00bfb4a"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
